In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
#import cufflinks as cf
#import plotly.graph_objs as go 
#from plotly.offline import init_notebook_mode,plot,iplot
#cf.go_offline()
#init_notebook_mode(connected=True)
%matplotlib inline

In [2]:
df=pd.read_csv('ks-projects-201801.csv')
df.head()

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

In [3]:
df = df[["main_category","usd_goal_real","country","backers","state"]]
df.head()

  main_category  usd_goal_real country  backers     state
0    Publishing        1533.95      GB        0    failed
1  Film & Video       30000.00      US       15    failed
2  Film & Video       45000.00      US        3    failed
3         Music        5000.00      US        1    failed
4  Film & Video       19500.00      US       14  canceled

In [4]:
df["usd_goal_real"].describe()

count    3.786610e+05
mean     4.545440e+04
std      1.152950e+06
min      1.000000e-02
25%      2.000000e+03
50%      5.500000e+03
75%      1.550000e+04
max      1.663614e+08
Name: usd_goal_real, dtype: float64

In [5]:
df["goalClf"] = np.where((df["usd_goal_real"] <10000),1,0)
df["goalClf"].describe()

count    378661.000000
mean          0.616536
std           0.486230
min           0.000000
25%           0.000000
50%           1.000000
75%           1.000000
max           1.000000
Name: goalClf, dtype: float64

In [6]:
df["state"].unique()

array(['failed', 'canceled', 'successful', 'live', 'undefined', 'suspended'], dtype=object)

In [7]:
df = df[(df["state"] != "live")&(df["state"] != "undefined")&(df["state"] != "suspended")]
df["state"].unique()

array(['failed', 'canceled', 'successful'], dtype=object)

In [8]:
df["state"] = np.where((df["state"] == "canceled"),"failed",df["state"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 370454 entries, 0 to 378660
Data columns (total 6 columns):
main_category    370454 non-null object
usd_goal_real    370454 non-null float64
country          370454 non-null object
backers          370454 non-null int64
state            370454 non-null object
goalClf          370454 non-null int64
dtypes: float64(1), int64(2), object(3)
memory usage: 19.8+ MB

In [9]:
df["state"].unique()

array(['failed', 'successful'], dtype=object)

In [10]:
df['state'].replace(['successful','failed'],[1,0],inplace=True)

In [11]:
df.head(10)

  main_category  usd_goal_real country  backers  state  goalClf
0    Publishing        1533.95      GB        0      0        1
1  Film & Video       30000.00      US       15      0        0
2  Film & Video       45000.00      US        3      0        0
3         Music        5000.00      US        1      0        1
4  Film & Video       19500.00      US       14      0        0
5          Food       50000.00      US      224      1        0
6          Food        1000.00      US       16      1        1
7          Food       25000.00      US       40      0        0
8        Design      125000.00      US       58      0        0
9  Film & Video       65000.00      US       43      0        0

In [12]:
chitest = df[["goalClf","state"]]
chitest.head(10)

   goalClf  state
0        1      0
1        0      0
2        0      0
3        1      0
4        0      0
5        0      1
6        1      1
7        0      0
8        0      0
9        0      0

In [29]:
x = chitest.groupby([chitest.state,chitest.goalClf]).size()
x

state  goalClf
0      0          108420
       1          128078
1      0           34899
       1           99057
dtype: int64

In [28]:
arr = np.array([[x[1,0],x[0,0]],[x[1,1],x[0,1]]])
arr

array([[ 34899, 108420],
       [ 99057, 128078]])

In [30]:
stats.chi2_contingency(arr)

#(t,p)= stats.chisquare([chitest["state"],chitest["goalClf"]],ddof=5)
#print("Test t=%f p-value=%f" % (chistats[0],chistats[1]))

(14120.871500348745, 0.0, 1, array([[  51824.08602418,   91494.91397582],
        [  82131.91397582,  145003.08602418]]))